html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 100%, 0.9);
  background: #282c34;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  color: #61dbfb;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

#DesignCode {
  background: #000;
  border-color: #e5a7e0;
}

#DesignCode2 {
  max-height: 260px;
  height: 100%;
}
#Weather {
  background: url("./Projects/images/Weather.jpg");
  background-size: cover;
  border-color: #00bfff;
}

#Academic {
  background-color: #fff;
  border-color: #763cbe;
}

#BB8 {
  background-color: #fff;
  border-color: #cd7640;
}

#BB82 {
  max-height: 260px;
}
#TicTacToe {
  background: #282c34;
}
#TicTacToe2 {
  max-height: 180px;
}

#Calculator {
  background: #fff;
  border-color: #fe9241;
}

#Calculator2 {
  max-height: 240px;
}
